<div th:fragment="submenu">
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item"><a href="home"><i class="la la-home"></i><span class="menu-title" data-i18n="nav.dash.main">Account Setup </span></a>
                 	<ul class="menu-content">
						
						<li data-menu=""><a class="dropdown-item" href="customer-creation?status=list" data-toggle="dropdown">Customer Creation </a>
		                </li>
		                <li data-menu=""><a class="dropdown-item" href="supplier-creation?status=list"
		                  data-toggle="dropdown"> Supplier Creation</a>
		                </li>
		                <li data-menu=""><a class="dropdown-item" href="account-creation?status=list"
		                  data-toggle="dropdown">Account Creation</a>
		                </li>
		                <li data-menu=""><a class="dropdown-item" href="item-creation?status=list"
		                  data-toggle="dropdown">Item Creation</a>
		                </li>
		                <li data-menu=""><a class="dropdown-item" href="tank-creation"
		                  data-toggle="dropdown">Tank Creation </a>
		                </li>
						 <li data-menu=""><a class="dropdown-item" href="unit-creation"
		                  data-toggle="dropdown">Unit Creation </a>
		                </li>
						<li data-menu=""><a class="dropdown-item" href="nozzle-creation"
		                  data-toggle="dropdown">Nozzle Creation </a>
		                </li>
						
						 <li data-menu=""><a class="dropdown-item" href="boy-creation?status=list"
		                  data-toggle="dropdown">Boy Creation </a>
		                </li>
                    </ul>
                </li>
  				 <li class=" nav-item"><a href="#"><i class="la la-th"></i><span class="menu-title" data-i18n="nav.data_tables.main">Day Entry</span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="/day-opening"><i></i><span data-i18n="nav.data_tables.dt_basic_initialization">Day Opening</span></a>
                        </li>
                        <li><a class="menu-item" href="/day-opening-lubs"><i></i><span data-i18n="nav.data_tables.dt_advanced_initialization">Day Opening Lubs</span></a>
                        </li>
                        <li><a class="menu-item" href="/day-closing"><i></i><span data-i18n="nav.data_tables.dt_styling">Day Closing</span></a>
                        </li>
                       
                    </ul>
                </li>
                
               <li class=" nav-item"><a href="#"><i class="la la-bank"></i><span class="menu-title" data-i18n="nav.data_tables.main">Payment Setup</span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="/payments"><i></i><span data-i18n="nav.data_tables.dt_basic_initialization">Payment  Entry</span></a>
                        </li>
                        <li><a class="menu-item" href="/payments"><i></i><span data-i18n="nav.data_tables.dt_basic_initialization">Receipt  Entry</span></a>
                        </li>
                        <li><a class="menu-item" href="/journal-voucher"><i></i><span data-i18n="nav.data_tables.dt_advanced_initialization">Journal Voucher</span></a>
                        </li>
                        <li><a class="menu-item" href="/contra-voucher"><i></i><span data-i18n="nav.data_tables.dt_styling">Contra  Vocher</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item"><a href="./purchase-entry"><i class="la la-shopping-cart"></i><span class="menu-title" data-i18n="">Purchase Entry</span></a>
                </li>
                <li class="nav-item"><a href="./purchase-entry"><i class="la la-paste"></i><span class="menu-title" data-i18n="">Sales Entry</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="la la-unlock"></i><span class="menu-title" data-i18n="nav.login_register_pages.main">Add New User/Role</span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="login-simple.html"><i></i><span data-i18n="nav.login_register_pages.login_simple">Add Roles</span></a>
                        </li>
                        <li><a class="menu-item" href="login-with-bg.html"><i></i><span data-i18n="nav.login_register_pages.login_with_bg">Add Users</span></a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item"><a href="#"><i class="la la-bar-chart"></i><span class="menu-title" data-i18n="nav.google_charts.main">Reports</span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="google-bar-charts.html"><i></i><span data-i18n="nav.google_charts.google_bar_charts">Bar charts</span></a>
                        </li>
                        <li><a class="menu-item" href="google-line-charts.html"><i></i><span data-i18n="nav.google_charts.google_line_charts">Line charts</span></a>
                        </li>
                        <li><a class="menu-item" href="google-pie-charts.html"><i></i><span data-i18n="nav.google_charts.google_pie_charts">Pie charts</span></a>
                        </li>
                        <li><a class="menu-item" href="google-scatter-charts.html"><i></i><span data-i18n="nav.google_charts.google_scatter_charts">Scatter charts</span></a>
                        </li>
                        <li><a class="menu-item" href="google-bubble-charts.html"><i></i><span data-i18n="nav.google_charts.google_bubble_charts">Bubble charts</span></a>
                        </li>
                        <li><a class="menu-item" href="google-other-charts.html"><i></i><span data-i18n="nav.google_charts.google_other_charts">Other charts</span></a>
                        </li>
                    </ul>
                </li>
     
            </ul>
        </div>
    </div>
</div>